.music-info > .info-text > .music-title {
  margin: 10px 0;
  font-size: 30px;
  font-weight: 400;
}
.music-info > .info-text > .music-singer {
  margin-top: 10px;
  margin-bottom: 16px;
  font-weight: lighter;
  color: grey;
}
.music-info > .music-cover {
  width: 192px;
  height: 192px;


  box-shadow: -1px -1px 4px  rgba(137, 134, 139, 0.1),
              2px 2px 8px rgba(137, 134, 139, 0.8);

  background-color: darkseagreen;
  background-repeat: no-repeat;
  background-size: 100%; 
}
